# internal.config - basic project-specific defaults for HeadlessPI
# This file is read by `startup.sh` to populate values when not
# provided via the environment. Keep it simple: key=value pairs.
# Lines starting with '#' are comments.

# Git repository URL for updates to the startup script itself.
# Examples: https://github.com/owner/repo.git  or git@github.com:owner/repo.git
STARTUP_REPO="https://github.com/mon4d/HeadlessPI"

# Label of the USB device to mount (optional). If blank, mount script
# will use defaults or try to find any USB.
USB_LABEL="PI_USB"

# Git repository URL that will be cloned/checked out later in startup.
# Examples: https://github.com/owner/repo.git  or git@github.com:owner/repo.git
PROJECT_REPO="https://github.com/"

# Path to virtual environment that will be activated
VIRTUAL_ENV="" # For example "~/.virtualenvs/example/bin/activate"